@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    font-family: 'Arial', sans-serif;
    background-color: #f8fafc; 
    color: #1f2937; 
}

h1, h2, h3 {
    font-family: 'Arial', sans-serif;
}